body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffe6f0; 
  text-align: center;
  color: #880e4f;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.imagem {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

.formulario {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 60%;
  border: 1px solid #ff80ab;
  border-radius: 8px;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #f50057;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #ffc1e3;
  margin: 8px auto;
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f8bbd0;
}

#apagar-tudo {
  margin-top: 20px;
  background-color: #e91e63;
}
li {
  background-color: #ffc1e3;
  margin: 8px auto;
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-remover {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.botao-remover:hover {
  background-color: #c2185b;
}
/* Estilo para o campo de busca e resultados */
#busca-palavra {
  padding: 10px;
  width: 50%;
  border: 1px solid #ff80ab;
  border-radius: 8px;
  outline: none;
}

#buscar-detalhes {
  padding: 10px 20px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}

#buscar-detalhes:hover {
  background-color: #f50057;
}

#resultados-busca {
  margin-top: 25px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#resultados-busca button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ffc1e3;
  color: #880e4f;
  border: 1px solid #ff80ab;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
}

#resultados-busca button:hover {
  background-color: #f8bbd0;
}
/* Agrupa o h2, input e botão de busca */
.busca-relatorio {
  margin-top: 80px; /* ajuste conforme desejar */
  margin-bottom: 30px;
  text-align: center;
}

.busca-relatorio h2 {
  margin-bottom: 20px;
  font-size: 1.3em;
  color: #880e4f;
}
